.inbox {
  width: 400px;
  min-width: 400px;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  background: var(--light-silver);

  display: flex;
  flex-flow: column;
}

.inbox-item {
  height: 200px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  border-bottom: 1px solid var(--border-color);

  flex: 1;
  &:hover {
    background-color: var(--active-message);
  }
  &:last-child {
    border-bottom: 0;
  }
}

.inbox-sender {
  display: flex;
  font-size: 12px;
  flex-flow: row wrap;
  justify-content: space-between;
}

.inbox-title {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  justify-content: space-between;
  @apply text-base;
  @apply font-bold;
  @apply text-gray-900;
  @apply my-1;
}

.inbox-content {
  @apply text-base;
  @apply text-gray-600;
  @apply leading-none;
}

.sender-name {
  @apply text-xs;
  @apply font-semibold;
  @apply text-blue-500;
}

.sender-date {
  @apply text-xs;
  @apply text-gray-500;
}

.sender-label {
  margin-right: 10px;
  font-size: 14px;
  @apply text-gray-600;
}
