language: node_js
node_js:
 - stable

cache:
  directories:
    - node_modules

before_script:
 - export CHROME_BIN=chromium-browser
 - export DISPLAY=:99.0
 - sh -e /etc/init.d/xvfb start
 - npm install

script: npm run test
