.toolbar {
  @apply w-full;
  height: 50px;
  padding: 0 20px;
  background-color: var(--light-silver);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
}

.item {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #dddddd;
  &:nth-child(1) {
    background-color: var(--red-x);
  }
  &:nth-child(2) {
    background-color: var(--yellow);
  }
  &:nth-child(3) {
    background-color: var(--green);
  }
}

.search-container {
  display: flex;
  height: 27px;
}

.search {
  width: 300px;
  padding: 0 10px;
  border: none;
  border: 1px solid var(--light-grey);
  border-radius: 3px;
  background-color: white;
  font-size: 12px;
  &:focus {
    border: 1px solid var(--blue);
    outline: none;
  }
}

.searchBtn {
  height: 27px;
  max-height: 27px;
  margin-left: -8px;
  padding: 0 15px;
  color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: var(--red);
  font-size: 12px;
  font-weight: 600;
  &:hover {
    background-color: var(--red);
  }
  &:active {
    background-color: var(--red);
  }
}
