.item {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.item-red {
  @extend .item;
  border: 2px solid var(--red);
  background-color: var(--red-alpha);
}

.item-blue {
  @extend .item;
  border: 2px solid var(--blue);
  background-color: var(--blue-alpha);
}

.item-yellow {
  @extend .item;
  border: 2px solid var(--yellow);
  background-color: var(--yellow-alpha);
}

.item-green {
  @extend .item;
  border: 2px solid var(--green);
  background-color: var(--green-alpha);
}
