@import './color.css';

.item {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.item-red {
  composes: item;
  border: 2px solid var(--love);
  background-color: rgba(var(--love), 0.5);
}

.item-blue {
  composes: item;
  border: 2px solid var(--blue);
  background-color: rgba(var(--blue), 0.5);
}

.item-yellow {
  composes: item;
  border: 2px solid var(--yellow);
  background-color: rgba(var(--yellow), 0.5);
}

.item-green {
  composes: item;
  border: 2px solid var(--green);
  background-color: rgba(var(--green), 0.5);
}
