.message {
  width: 100%;
  padding: 30px;
  border-top: 1px solid var(--border-color);
  background-color: white;
}

.info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.from {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  object-fit: cover;
}

.sender {
  display: flex;
  margin-left: 10px;
  flex-flow: column wrap;
  & h5 {
    margin: 0;
  }
  & span {
    margin-top: 5px;
    font-size: 12px;
  }
}

.icon {
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;
  color: var(--midnight);
  &:hover {
    opacity: 0.6;
  }
}
